<header class="section font-semibold px-16 text-gray-800 fixed w-full top-0 flex header_section bg-gray-100 shadow z-10">
  <div class="sub_head flex my-auto py-3">
    <div class="logo w-14"><img class="w-full" src="https://w7.pngwing.com/pngs/903/640/png-transparent-pizza-logo-euclidean-color-logo-material-pizza-other-color-splash-free-logo-design-template.png" alt="" /></div>
    <div class="text ml-2 my-auto flex-none">Pizza Gondola</div>
  </div>
  <div class="sub_head ml-auto flex space-x-8 my-auto">
    <div>
      <a #Home routerLink="/ "><!-- link a pagina home -->
        <h3 class="h_btns cursor-pointer">Home</h3>
      </a>
    </div>
    <div>
      <a #Login routerLink="/login" >
        <h3 class="h_btns cursor-pointer">Login</h3>
      </a> <!-- link a pagina login -->
    </div>
    <div class="h_btns cursor-pointer">About</div>
  </div>
</header>
