<header class="section font-semibold px-16 text-gray-800 fixed w-full top-0 flex header_section bg-gray-100 shadow z-10">

  <div  routerLink="/"
        class="sub_head flex my-auto py-3 cursor-pointer">
    <div class="logo w-14"><img class="w-full" src="https://w7.pngwing.com/pngs/903/640/png-transparent-pizza-logo-euclidean-color-logo-material-pizza-other-color-splash-free-logo-design-template.png" alt="" /></div>
    <div class="text ml-2 my-auto flex-none">Pizza Gondola</div>
  </div>

  <div class="sub_head ml-auto flex space-x-8 my-auto">
    <div>
      <a routerLink="/">
        <h3 class="h_btns cursor-pointer">Home</h3>
      </a>
    </div>
    <div *ngIf=userIsAdmin>
      <a routerLink="/admin" >
        <h3 class="h_btns cursor-pointer">Administration</h3>
      </a>
    </div>
    <div *ngIf=!isLoggedIn()>
      <a #Registration routerLink="/registration" >
        <h3 class="h_btns cursor-pointer">Signup</h3>
      </a>
    </div>
    <div>
      <a routerLink="/about">
        <h3 class="h_btns cursor-pointer">About</h3>
      </a>
    </div>
    <div *ngIf=!isLoggedIn()>
      <a routerLink="/login" >
        <h3 class="h_btns cursor-pointer">Login</h3>
      </a>
    </div>
    <div *ngIf=isLoggedIn()>
      <h3 (click)="logout()" class="h_btns cursor-pointer">Logout</h3>
    </div>
  </div>
</header>
